* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contents {
    display: space;
}

/* Login and register div */
.log-reg, .register {
    /* margin-top: 8px;
    margin-right: 8px; */
    float: right;
    display: flex;  
    font-size: 19px;
    /* margin: 20px; */
  }
  .register {
      border: 1px solid black;
      border-radius: 33px;
      width: 6rem;
      
  }
  /* end of the login and register div */
  
  .topnav a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.2s ease;
    margin-top: 1px;
}
.topnav a:hover {
    background: #ddd;
    color: black;
    border-radius: 20px;
}
.hero {
    position: absolute;
    width: 540px;
    height: 400px;
    left: 165px;
    top: 234px;
}


.hero h1 {
    /* position: relative; */
    left: 202px;
    width: 1100px;
    font-size: 140px;
    line-height: 1;
    
}
.hero-text {
    /* /* position: absolute; */
    width: 445px;
    height: 84px;
    left: 0;
    top: 100px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #686868;
    padding: 90px;
    padding-left: 10px;
}
.hero-a {
    position: absolute;
    width: 130px;
    height: 40px;
    /* top: 200px; */
    background-color: white;
    border: 1.2px solid #151515;
    border-radius: 15px;
    color: #151515;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}
/* Hover for hero-a */
    .hero-a:hover {
        background: #151515;
        color: white;
    }
/* End of hero-a */

.attribution {
    position: absolute;
    width: 477.63px;
    height: 35.9px;
    left: 165.38px;
    bottom: 0;
}

.img-hero {
    position: absolute;
    /* width: 480px;
    height: 460px; */
    left: 830px;
    top: 130px;
}

.img-hero img {
    position: absolute;
    width: 480px;
    height: 460px;
    /* left: 830px; */
    /* top: 130px; */
    /* right: 100px; */
}

/* company logos */

.companylogos {
    /* background: red; */
    background-image: url();
    position: absolute;
    top: 600px;
    display: grid;
}