* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contents {
    display: space;
}

/* Login and register div */
.log-reg, .register {
    /* margin-top: 8px;
    margin-right: 8px; */
    float: right;
    display: flex;  
    font-size: 19px;
    /* margin: 20px; */
  }
  .register {
      border: 1px solid black;
      border-radius: 33px;
      width: 6rem;
      
  }
  /* end of the login and register div */

  .topnav a {
    cursor: pointer;
    float: left;
    color: black;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.2s ease;
    margin-top: 1px;
}
.topnav a:hover {
    background: #ddd;
    color: black;
    border-radius: 20px;
}
/* hero stuff */
.hero-container {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 50px;
    position: absolute;
    width: 400px;
    height: 400px;
    left: 165px;
    top: 234px;
}


.hero-container h1 {
    left: 202px;
    width: 1100px;
    font-size: 100px;
    line-height: 1;
    
}
.hero-text {
    /* /* position: absolute; */
    width: 445px;
    height: 84px;
    left: 0;
    top: 100px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #686868;
    padding: 90px;
    padding-left: 10px;
}
.img-hero img {
    object-fit: cover;
    position: absolute;
    width: 700px;
    height: 780px;
    left: 220px;
    top: -80px;
    /* right: 0; */

}
.img-hero {
    position: relative;
    /* width: 480px;
    height: 460px; */
    left: 830px;
    top: 130px;
}
.hero-a {
    /* position: absolute; */
    width: 130px;
    height: 40px;
    /* top: 200px; */
    background-color: white;
    border: 1.2px solid #151515;
    border-radius: 15px;
    color: #151515;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}
/* Hover for hero-a */
    .hero-a:hover {
        background: #151515;
        color: white;
    }
/* End of hero-a */



/* end of hero stuff */
.attribution {
    position: absolute;
    width: 477.63px;
    height: 35.9px;
    left: 165.38px;
    bottom: 0;
}



/* company logos */

.companylogos {
    /* background: red; */
    background-image: url();
    position: absolute;
    top: 600px;
    display: grid;
}

/* Dropdown  */
    .dropdown-menu ul li {
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: black;
        position: relative;
        list-style: none;
    }


    .dropdown-menu ul li:hover {
        background: rgb(199, 199, 199);
        border-radius: 20px;
        
    }

    .dropdown-menu ul li {
        display: none;
    }

    .dropdown-menu ul li:hover > ul {
        display: block;
    }
/* End of dropdown */