* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contents {
    display: space;
}

/* Login and register div */
.log-reg {
    float: right;
    display: flex;  
    
  }

  .register {
      border-radius: 20px;
      border: 1px solid black
  }

  /* end of the login and register div */
  .topnav {
    height: 60px;
    padding: 10px;
  }

  .topnav a {
    height: 65px;
    cursor: pointer;
    float: left;
    color: black;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.2s ease;
    margin-top: 1px;
    margin-right: 20px;
}
.topnav a:hover {
    background: #ddd;
    color: black;
    border-radius: 20px;
}
/* hero stuff */
.hero-container {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 50px;
    position: absolute;
    width: 400px;
    height: 400px;
    left: 165px;
    top: 234px;
}


.hero-container h1 {
    left: 202px;
    width: 1100px;
    font-size: 90px;
    line-height: 1;
    
}
.hero-text {
    width: 445px;
    height: 84px;
    left: 0;
    top: 100px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #686868;
    padding: 90px;
    padding-left: 10px;
}
.img-hero img {
    object-fit: cover;
    position: absolute;
    width: 700px;
    height: 780px;
    left: 220px;
    top: -80px;
}
.img-hero {
    position: relative;
    left: 830px;
    top: 130px;
}
.learnmore {
    width: 130px;
    height: 40px;
    background-color: white;
    border: 1.2px solid #151515;
    border-radius: 15px;
    color: #151515;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}
/* Hover for hero-a */
    .learnmore:hover {
        background: #151515;
        color: white;
    }
/* End of hero-a */



/* end of hero stuff */
.attribution {
    position: absolute;
    width: 477.63px;
    height: 35.9px;
    left: 165.38px;
    bottom: 0;
}



/* company logos */

.companylogos {
    /* background: red; */
    background-image: url();
    position: absolute;
    top: 600px;
    display: grid;
}

/* Dropdown  */
    .dropdown-menu ul li {
        height: 55px;
        margin-top: 5px;
        line-height: 50px;
        text-align: center;
        color: black;
        position: relative;
        list-style: none;
    }

/* 
    .dropdown-menu ul li:hover {
        background: rgb(199, 199, 199);
        border-radius: 20px;
        
    } */

    #company ul {
        background: rgb(199, 199, 199);
        border-radius: 20px;
    }

    #company ul li {
        display: none;
    }

    #company:hover ul li {
        display: block;
    }

    .dropdown-menu ul li {
        display: none;
    }


    #features ul {
        background: rgb(199, 199, 199);
        border-radius: 20px;
    }

    #features ul li {
        display: none;
    }

    #features:hover ul li {
        display: block;
    }

    /* .hoveroverme:hover ul li{
        display: block;
        border-radius: 20px;
        justify-content: center;
        text-align: center;
    } */

/* End of dropdown */


.parent-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
    "A B"
    "A C";
}

.item1 {
    grid-area: A;
    /* background: red; */
    width: 350px;
    height: 300px;
    padding: 15px;
    position: relative;
    right: 400px;
    top: 250px;
}
.item1 h1 {
    font-size: 5rem;
    min-width: 500px;
    padding-top: 15px;
}
.item1 a {

}
.item1 p {
    font-size: 20px;
}
.item2 {
    grid-area: B;
    /* background-size: cover; */
    width: 40px;
}

.item2 img {
    position: relative;
    right: 200px;
    width: 700px;
    top: 100px;
}