* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contents {
    display: space;
}

.navbar {
    /* background: #333; */
    overflow: hidden;
}

.navbar a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.2s ease;
    margin-top: 2px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
    border-radius: 20px;
}

.login-reg {
    float: right;
}

.login-reg .register {
    background: darkgray;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 5px;
}